body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 10px 0;
}

#controls {
  margin: 10px;
}

#map {
  height: 90vh;  /* Makes the map fill most of the screen vertically */
  width: 100%;
}
